body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-33px;
  width:907px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-90px;
  top:60px;
  width:1140px;
  height:930px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:930px;
}
#u1 {
  position:absolute;
  left:2px;
  top:457px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-40px;
  top:0px;
  width:1090px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:33px;
  top:22px;
  width:120px;
  height:30px;
  font-size:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:103px;
  top:100px;
  width:53px;
  height:53px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u7 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:316px;
  top:100px;
  width:54px;
  height:53px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:53px;
}
#u9 {
  position:absolute;
  left:2px;
  top:18px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:550px;
  top:100px;
  width:54px;
  height:53px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:53px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:797px;
  top:100px;
  width:53px;
  height:54px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:54px;
}
#u13 {
  position:absolute;
  left:2px;
  top:19px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:156px;
  top:121px;
  width:94px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:77px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:2px;
  width:94px;
  height:6px;
}
#u15 {
  position:absolute;
  left:152px;
  top:121px;
  width:164px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:147px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:2px;
  width:164px;
  height:6px;
}
#u16 {
  position:absolute;
  left:370px;
  top:122px;
  width:180px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:2px;
  width:180px;
  height:6px;
}
#u17 {
  position:absolute;
  left:50px;
  top:190px;
  width:880px;
  height:50px;
  font-size:18px;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:14px;
  width:876px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:466px;
  top:206px;
  width:314px;
  height:19px;
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:19px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:570px;
  top:206px;
  width:370px;
  height:19px;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:50px;
  top:270px;
  width:880px;
  height:130px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:130px;
}
#u24 {
  position:absolute;
  left:2px;
  top:57px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:63px;
  top:302px;
  width:60px;
  height:18px;
  font-size:14px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:360px;
  top:304px;
  width:60px;
  height:15px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:63px;
  top:350px;
  width:60px;
  height:15px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:830px;
  top:304px;
  width:60px;
  height:44px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:66px;
  height:50px;
}
#u32 {
  position:absolute;
  left:360px;
  top:350px;
  width:60px;
  height:15px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:50px;
  top:438px;
  width:880px;
  height:82px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:82px;
}
#u35 {
  position:absolute;
  left:2px;
  top:33px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:63px;
  top:457px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:50px;
  top:548px;
  width:880px;
  height:322px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:322px;
}
#u39 {
  position:absolute;
  left:2px;
  top:153px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:63px;
  top:560px;
  width:87px;
  height:19px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:520px;
  top:625px;
  width:60px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:80px;
  top:596px;
  width:60px;
  height:15px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:131px;
  top:660px;
  width:171px;
  height:87px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:87px;
}
#u47 {
  position:absolute;
  left:2px;
  top:36px;
  width:167px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:420px;
  top:691px;
  width:100px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u48_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:31px;
}
#u49 {
  position:absolute;
  left:604px;
  top:122px;
  width:193px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:176px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:2px;
  width:193px;
  height:6px;
}
